header{
    height:500px;
}

#bg-image{
    background:#333 url('https://static.pexels.com/photos/247791/pexels-photo-247791.png');
    width:100%;
    height:500px;
    z-index:-1;
    opacity: 0.85;
    position: absolute;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content-wrapper{
    width:70%;
    margin:auto;
    
}

button{
    background:#333;
}